/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Approccio Desktop First */

/* Regole Generali */
:root {
    /* Spazi */
    --spacingExtraSmall: 0.7rem;
    --spacingSmall: 1.4rem;
    --spacingMedium: 1.7rem;
    --spacingLarge: 2.8rem;

    /* Colori */
    --textColorPrimary: #ffffff;
    --textColorSecondary: #727479;

    --secondaryColor: #c1c1c1;
    --activeColor: #adff2f;

    --asideBg: #000000;
    --mainBg: #141922;
    --playerBg: #282828;

    /* 
    white: titoli, icone:active, icone(player)
    #727479: sottotitoli, icone:inactive, progress bar bg
    #c1c1c1: progress bar completed, add playlist button
    black: aside
    ##141922: main-bg
    #adff2f: active state
    #282828: player bg
    */
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}



/* --- CONTENT --- */
#content {
    background-color: aquamarine;
    height: calc(100vh - 120px); /* 120px = altezza player*/
}

#content > * {
    display: inline-block;
    height: 100%;
    float: left;
}

/* aside */
#content > aside {
    width: 240px;
    background-color: var(--asideBg);

    font-weight: 600;
    position: relative;
}

#content > aside #logoContainer {
    height: 110px;
    padding: var(--spacingMedium);
}

#content > aside nav ul li a {
    display: inline-block;
    width: 100%;

    padding: var(--spacingExtraSmall) 0;
    padding-left: var(--spacingMedium);

    color: var(--textColorSecondary);

    border-left: 5px solid transparent;
}

#content > aside nav ul li a > * {
    vertical-align: middle;
    transition: all 0.1s;
}

#content > aside nav ul li a img {
    width: 1.8rem;
    filter: brightness(0.5);
}

#content > aside #playlistContainer {
    height: 100px;
    background-color: rgb(55, 192, 55);
}

#content > aside div:last-child {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    height: 100px;
    background-color: rgb(88, 215, 88);
}

/* hover elementi navbar laterale */
#content > aside nav ul li:hover span {
    color: white;
}

#content > aside nav ul li:hover img {
    filter: brightness(1);
}

/* versione active degli elementi della navbar laterale */
#content > aside nav ul li.active span {
    color: var(--textColorPrimary);
    border-color: var(--activeColor);
}

#content > aside nav ul li.active a img {
    filter: brightness(1);
}

/* main */
#content > main {
    width: calc(100vw - 240px); /* 250px = larghezza aside*/
    background-color: red;
    overflow: auto;
}

#content > main #banner {
    height: 110px;
    position: sticky;
    top: 0;
    left: 0;

    background-color: purple;
}

#content > main nav {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;

    height: 50px;
    background-color: rgb(137, 25, 137);
}

main .category {
    background-color: rgb(143, 61, 143);
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

main .category .card {
    width: 13vw;
    height: 13vw;
    background-color: rgb(156, 99, 156);
}

/* --- PLAYER --- */
#player {
    background-color: wheat;
    height: 110px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player > div {
    width: 100px;
    height: 80px;
    background-color: tomato;
}





/* Visualizzazione Medium (tablet) */
@media screen and (max-width: 768px) {
    main .category .card {
        width: 15vw;
        height: 15vw;
    }
}

/* Visualizzazione Small (smartphone) */
@media screen and (max-width: 600px) {
    main .category .card {
        width: 24vw;
        height: 24vw;
    }
}

/* Visualizzazione Extra Small (small smartphone) */
@media screen and (max-width: 500px) {
    #content > aside {
        width: 50px;
    }
    #content > main {
        width: calc(100vw - 50px); /* 50px = larghezza aside*/
    }
    main .category .card {
        width: 38vw;
        height: 38vw;
    }
}