/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Approccio Desktop First */

/* Regole Generali */
:root {
    /* Spazi */
    --spacingExtraSmall: 0.6rem;
    --spacingSmall: 1.1rem;
    --spacingMedium: 1.6rem;
    --spacingLarge: 2.8rem;

    /* Colori */
    --textColorPrimary: #ffffff;
    --textColorSecondary: #727479;

    --secondaryColor: #c1c1c1;
    --activeColor: #adff2f;

    --asideBg: #000000;
    --mainBg: #141922;
    --playerBg: #282828;

    /* 
    white: titoli, icone:active, icone(player)
    #727479: sottotitoli, icone:inactive, progress bar bg
    #c1c1c1: progress bar completed, add playlist button
    black: aside
    ##141922: main-bg
    #adff2f: active state
    #282828: player bg
    */

    /* Font Size */
    --fSize-2: 0.8rem;
    --fSize-3: 0.9rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a {
    text-decoration: none;
}

h2 {
    color: var(--textColorPrimary);
}

/* --- CONTENT --- */
#content {
    background-color: aquamarine;
    height: calc(100vh - 110px); /* 120px = altezza player*/
}

#content > * {
    height: 100%;
    float: left;
}

/* aside */
#content > aside {
    width: 240px;
    background-color: var(--asideBg);

    min-height: 500px;

    font-weight: 600;
    position: relative;
}

#content > aside #logoContainer {
    height: 100px;
    padding: var(--spacingMedium);
}

#content #logoContainer a:last-child{
    display: none;
}

#content #logoContainer img {
    height: 100%;
}

/* questo vale sia per la lista del nav che per quella delle playlist */
#content > aside ul li a {
    display: inline-block;
    width: 100%;

    font-size: var(--fSize-2);
    color: var(--textColorSecondary);
    transition: all 0.1s;

    padding: var(--spacingExtraSmall) 0;
    padding-left: var(--spacingMedium);
}

#content > aside #navbar a {
    border-left: 5px solid transparent;
}

#content > aside #navbar a > * {
    vertical-align: middle;
}

#content > aside #navbar ul li a img {
    width: 1.8rem;
    filter: brightness(0.5);
}

#content > aside #playlistContainer {
    margin-top: var(--spacingSmall);
}

#content > aside #playlistContainer h2 {
    font-size: var(--fSize-3);
    margin-left: var(--spacingMedium);
    margin-bottom: var(--spacingExtraSmall);
}

#content > aside #playlistContainer button {
    font-size: var(--fSize-3);
    color: var(--textColorSecondary);
    
    display: flex;
    align-items: center;

    border: none;
    background: none;
    cursor: pointer;

    padding-right: var(--spacingExtraSmall);
    margin-left: var(--spacingMedium);
    margin-bottom: var(--spacingSmall);
}

#content > aside #playlistContainer button  span{
    height: var(--spacingLarge);
    aspect-ratio: 1/1;

    background-color: var(--secondaryColor);
    
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: var(--spacingExtraSmall);
}

#content > aside #accountContainer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    padding: 0 var(--spacingMedium);
    padding-bottom: var(--spacingExtraSmall);
}

#content > aside #accountContainer > a {
    font-size: var(--fSize-2);
    color: var(--textColorSecondary);
    transition: all 0.1s;
}

#content > aside #accountContainer > a img {
    width: 15px;
    margin-right: var(--spacingExtraSmall);
}

#content > aside #accountContainer > * > *{
   vertical-align: middle;
}
#content > aside #accountContainer hr {
    margin: var(--spacingExtraSmall) 0;
    border-bottom: none;
}

#content > aside #accountContainer #account {
    font-size: var(--fSize-3);
    color: var(--textColorPrimary);
    font-weight: 700;
    cursor: pointer;
}

 #content > aside #accountContainer #account span{
    display: inline-block;
    width: 1.5rem;
    aspect-ratio: 1/1;
    padding: 3px;
    border-radius: 50%;

    background-color: var(--secondaryColor);
    margin-right: var(--spacingExtraSmall);
    overflow: hidden;
 }

#content > aside #accountContainer #account span img {
    width: 100%;
}

/* hover elementi navbar laterale */
#content > aside ul li:hover a,
#content > aside #accountContainer > a:hover {
    color: white;
}

#content > aside nav ul li:hover img {
    filter: brightness(1);
}

/* versione active degli elementi della navbar laterale */
#content > aside #navbar ul li.active a {
    color: var(--textColorPrimary);
    border-color: var(--activeColor);
}

#content > aside #navbar ul li.active a img {
    filter: brightness(1);
}

/* hover pulsante crea playlist */
#content > aside #playlistContainer button:hover {
    background-color: var(--secondaryColor);
}

/* main */
#content > main {
    width: calc(100vw - 240px); /* 250px = larghezza aside*/
    background-color: var(--mainBg);
    overflow-x: auto;
}

#content > main #banner {
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;

    padding: var(--spacingMedium);
}

#content > main #banner .btn {
    display: inline-block;
    color: var(--textColorPrimary);
    font-size: var(--fSize-2);
    font-weight: 600;
    text-transform: uppercase;

    border: 1px solid currentColor;
    border-radius: 20px;
    padding: 0.7em 2.4em;
}

#banner .btn:hover {
    transform: scale(1.15);
}

#content > main nav {
    max-width: 750px;
    width: 90%;
    margin: 0 auto;

    height: 50px;
    background-color: rgb(137, 25, 137);
}

main .category {
    background-color: rgb(143, 61, 143);
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

main .category .card {
    width: 13vw;
    height: 13vw;
    background-color: rgb(156, 99, 156);
}

/* --- PLAYER --- */
#player {
    background-color: wheat;
    height: 110px;
    width: 100vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player > div {
    width: 100px;
    height: 80px;
    background-color: tomato;
}





/* Visualizzazione Medium (tablet) */
@media screen and (max-width: 768px) {
    main .category .card {
        width: 15vw;
        height: 15vw;
    }
}

/* Visualizzazione Small (smartphone) */
@media screen and (max-width: 600px) {
    main .category .card {
        width: 24vw;
        height: 24vw;
    }
}

/* Visualizzazione Extra Small (small smartphone) */
@media screen and (max-width: 500px) {
    #content > aside {
        width: fit-content;
    }
    #content > main {
        width: calc(100vw - 50px); /* 50px = larghezza aside*/
    }
    main .category .card {
        width: 38vw;
        height: 38vw;
    }

    #content aside #logoContainer {
        padding: 0 var(--spacingExtraSmall);
        padding-top: var(--spacingExtraSmall);
        height: unset;
    }

    #content #logoContainer a:first-child {
        display: none;
    }
    #content #logoContainer a:last-child {
        display: block;
    }
    #content aside nav ul li a {
        padding-left: var(--spacingExtraSmall);
        padding-right: var(--spacingExtraSmall);

        border-left: none;
    }
    #content aside nav ul span {
        display: none;
    }
    #playlistContainer {
        display: none;
    }
    /* #content > aside > div:last-child #text{
        display: none;
    } */
}